@import '../../../global.scss';

.cookiePolicy {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: rgba(255,255,255,0.8);
    text-align: center;
    font-size: 0.7rem;
    z-index: 9999;

    a {
        color: $color-brand-dark;
    }

    button {
        background: $color-brand;
        color: #fff;
        margin: 0 10px;
        border: 1px solid $color-brand-dark;
        font-size: 0.7rem;
    }

    &--is-hidden {
        display: none;
    }
}