{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        ["@babel/plugin-proposal-decorators", { legacy: true }],
        "@babel/plugin-proposal-throw-expressions",
        "transform-class-properties"
    ]
}