@import "../../../variables.scss";

.basket__items {
    margin: 0 0 3rem 0;

    &-empty {
        span {
            display: block;
            color: $color-text-light;
            font-size: 1.3rem;
            line-height: 1.5;

            @media screen and (min-width: $screen-m) {
                max-width: 30rem;
            }
            @media screen and (min-width: $screen-l) {
                max-width: 35rem;
            }
        }
        &-actions {
            margin: 1rem 0 0 0;
        }
        a {
            display: inline-block;
            padding: 0.5rem 0.8rem;
            margin: 0 1rem 0 0;
            border: 0.125rem solid $color-brand;
            border-radius: $border-radius;
            color: $color-brand;
            font-weight: bold;
            text-decoration: none;
        }
    }
}