$screen-s: 30rem; //480
$screen-m: 48rem; //768
$screen-l: 64rem; //1024
$screen-xl: 80rem; //1440

$color-brand: #E71665;
$color-brand2: #FBBB30;
$color-link: #0074D9;
$color-text: #333;
$color-text-light: #aaa;

$color-border: #aaa;

$color-input: #f7f7f7;

$font-brand: "font";
$font-text: "Open Sans", Arial;

$border-radius: 0.1875rem;

$padding-horizontal: 1rem;
$padding-vertical: 1rem;